@font-face {
	font-family: 'Priate';
	font-style: normal;
	src: url('./../assets/fonts/Pirata_One/PirataOne-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	src: url('./../assets/fonts/Roboto/Roboto-Medium.ttf');
}